.buttons {
  display: block;
  color: white;
  justify-content: space-between;
  margin-top: 15px;
  padding: 25px 18px 6px 18px;
  height: 38px;

  .new-quote-button {
    cursor: pointer;
    float: right;
    height: 38px;
  }

  .tweet-button {
    cursor: pointer;
    float: left;
    height: 38px;
    width: 40px;
  }

  .tumblr-button {
    cursor: pointer;
    float: left;
    height: 38px;
    width: 40px;
    margin-left: 5px;
  }
}